
    


    <!-- Alternative Code-->
    <section class="container min-vh-100 d-flex flex-wrap align-content-center">
      <div class="row justify-content-center">
        <div class="col-auto text-center">
          <h1 class="font-weight-bold">Attendance Tracker</h1>
          <h2 class="subTitle ">Easy way to Record & Track Attendance</h2>
        </div>
        <div class="col-9">
          <img class="img-fluid" class="w-75" src="images/attendance-image.svg" alt="" />
        </div>
        <div class="col-12 d-flex flex-wrap justify-content-center">
          <div class="col-auto">
                       <a class="btn  btn-outline-dark  px-4 ">Sign Up</a>

          </div>
          <div class="col-auto">
             <a href="scottclasses.html" class="btn btn-warning px-4 ">Log In</a>
          </div>
        </div>
      </div>

    </section>

    